<!-- THE CONTENT HEADING -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Messages or error mesages  -->
<%- messages() %>

<% if (errors) { %>
    <ul class="notice">
   <% errors.array().forEach(error => { %>
     <li><%= error.msg %></li>
  <%  }) %>
   </ul>
  <% } %>

    <div class="accountManage">
    <% if (!locals.allow){ %>
      <h2>Welcome back <%- locals.accountData.account_firstname %> </h2>
      <h3>Account type: <%- locals.accountData.account_type %></h3>
      <h2> Update Account</h2>
    <a href="/account/update"> &#x2699; Click here for account settings </a>
    <h2>Message Center</h2>
    <p>You have <%= inboxAmount %> new messages</p>
    <p> Go to <a href="/account/inbox"> inbox </a></p>
    <% } else{ %>
    <h2>Welcome back, <strong> <%- locals.accountData.account_firstname %></strong>  </h2>
    <p>Account type: <%- locals.accountData.account_type %><p>
      <h2> Update Account</h2>
    <a href="/account/update"> &#x2699; Click here for account settings </a>
      <h3> Inventory Management:</h3>
      <p>Click here to add, change or delete inventory -> <a href="/inv/"> Inventory management</a></p> 
      <h2>Message Center</h2>
      <p>You have <%= inboxAmount %> new messages</p>
    <p> Go to <a href="/account/inbox"> inbox </a></p>
  <% } %>
  
  
</div>