
<!-- THE CONTENT HEADING -->
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<!-- Messages or error mesages  -->
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="messageDetails">
  <p><strong> Subject: </strong> <%- title %></p>
  <p> <strong> From: </strong> <%- messageFrom %> </p>
  <p><strong>Body:</strong></p>
  <p> <%- messageBody %> </p>
</div>

<div class="messageOpt">
<a href="/messages"> Return to Inbox</a>
<form>
<button formaction="/messages/reply" formmethod="post"> Reply </button>
<button formaction="/messages/read" formmethod="post"> Mark as Read </button>
<button formaction="/message/archive" formmethod="post"> Mark as Archive </button>
<button formaction="/messages/delete" formmethod="post"> Delete Message </button>
</form>
</div>