
<!-- THE CONTENT HEADING -->
<% if (title) { %>
  <h1><%= title %></h1>
  <% } else {
    res.redirect('/')
  } %>

<!-- Messages or error mesages  -->
<%- messages() %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<div class="messageDetails">
  <p><strong> Subject: </strong> <%- title %></p>
  <p> <strong> From: </strong> <%- messageFrom %> </p>
  <div class="messageSub">
  <p><strong>Body:</strong></p>
  <p> <%- messageBody %> </p></div>
</div>

<div class="messageOpt">

<form>
  <button formaction="/messages" formmethod="post">Return to inbox</button>
<button formaction="/messages/newMessage" formmethod="post"> Reply </button>
<button formaction="/messages/read" formmethod="post"> Mark as Read </button>
<button formaction="/messages/archive" formmethod="post"> Mark as Archive </button>
<button formaction="/messages/delete" formmethod="post"> Delete Message </button>
<input type="hidden" name="message_id"<% if(locals.accountData) { %> value="<%= message_id %>" <% } %> >
</form>
</div>